.hero {
  padding-top: 140px;
}

.title > span {
  color: var(--color-secondary);
}

.media {
  margin: 1rem 0;
  position: relative;
  overflow: hidden;
}

.media :global(.media-svg-fill),
.media > div {
  width: 100%;
  height: auto;
}

.media :global(.media-svg-fill) svg,
.media > div svg {
  display: block;
  width: 25rem;
  max-width: 100%;
  height: auto;
}

.media svg :global(#Stars) {
  transform: translate3d(calc(var(--x) * 8px), calc(var(--y) * 8px), 0);
}

.media svg :global(#Character) {
  transform: translate3d(calc(var(--x) * 3px), calc(var(--y) * 3px), 0);
}

.content {
  margin: 1rem 0;
}

.link {
  margin: 1rem 0;
}