.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home-list-v1-title {
  font-family: var(--font-secondary);
  font-size: var(--font-size--heading-2);
  line-height: var(--line-height--heading-2);
  font-weight: var(--font-weight--heading);
}

.home-list-v1-title > span {
  color: var(--color-secondary);
}

.home-list-v1-media > svg {
  width: 350px;
  height: 350px;
}

.home-list-v1-list {
  display: grid;
  gap: 1rem;
}

.home-list-v1-item {
  display: grid;
  grid-template-columns: 2rem 1fr;
  grid-template-rows: auto;
	grid-column-gap: 1rem;
	align-items: center;
}

.home-list-v1-item > svg {
  grid-column: 1/2;
  grid-row: 1/-1;
}

.home-list-v1-item > h3 {
  grid-column: 2/-1;
  grid-row: 1/-1;
}

.home-list-v1-item > div {
  grid-column: 1/-1;
  grid-row: 2/-1;
}